#videoPlayerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take the full viewport height */
    background-color: black; /* Set the background color to black */
    overflow: hidden; /* Hide any overflowing content within the container */
}

#videoPlayer {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain; /* Center the video content and maintain aspect ratio */
}
